# Config for newmod.sh Minecraft mod generation from template
MCVER=1.14.4
FORGEVER="28.1.115"
FORGELOADERVER="28"
MAPPINGVER_CHANNEL="snapshot"
MAPPINGVER_VERSION="20200104-1.14.3"
GITHUBUSER=GithubUsername
BINTRAYUSER=BintrayUsername
# Java namespace for new mods - example "com.example"
GROUPDOT=modder.${GithubUsername}
# Location where new mod's git repos will be stored
GITLOC="git@github.com"
